streamlit
google-generativeai
groq
chromadb
langchain
langchain-groq
langchain-community
langchain-huggingface
python-dotenv
pillow
langchain-huggingface
sentence-transformers
huggingface-hub
torch
dotenv
